<h1>Welcome to the MovieDatabase!</h1>

<form action="{%url 'home:search'%}" method="get">
    {%csrf_token%}
    <input type="text" placeholder="Enter text" name="search">
    <select name="category" id="">
        <option value="movie">Movie</option>
        <option value="director">Director</option>
        <option value="actor">Actor</option>
    </select>
    <input type="submit" value="Search">
</form>

<h2>Here is the list of movies :</h2>
<h3>Click on any item to see the details.</h3>
<h5>Jump to: {%for t in total%}{%if t is page%}<bold>&nbsp&nbsp{{t}}&nbsp &nbsp</bold>{%else%}<a href="{%url 'home:index' t%}">{{t}} &nbsp </a>{%endif%}{%endfor%}</h5>
<h3>You are here: page {{page}}</h3>
{%load index%}

<ul>
    {% for m in ind %}
        <li><a href="{%url 'home:detail' movies|index:m%}">{{titles|index:m}}</a></li>

    {%endfor%}
</ul>

{%if pre%}
    <a href="{%url 'home:index' pre%}">Previous page &nbsp</a>
{%endif%}
<a href="{% url 'home:index' page|add:1 %}">&nbsp Next page</a><br>
<a href="{%url 'home:home' %}">Home</a>

